#asidemenu > .row,.col-md-2,col-md-10,col-md-12{
			padding-left: 0px;
			padding-right: 0px;
		}
.submenu
{
	padding-left: 15px;
	position: relative;
}
a{
	color: #9d9d9d;
}

.nav > li > a:hover, .nav > li > a:focus{
	text-decoration: none;
	color: #fff;
	background-color: transparent;
}